{% extends "maintenance_plan/master.html" %}

{% block content %}

<h1 class="display-4 text-center"><strong>{{ object.name|upper }}</strong>-{{ object.serial_number }}</h1>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header text-primary"><strong>Informations</strong></div>
                <div class="card-body">
                    <div class="row row-cols-2">
                        <div class="col">Name</div>
                        <div class="col">: {{ object.name }}</div>
                        <div class="col">Serial number</div>
                        <div class="col">: {{ object.serial_number }}</div>
                        <div class="col">Installation date</div>
                        <div class="col">: {{ object.installation_date }}</div>
                        <div class="col">Line</div>
                        <div class="col">: {{ object.lineId }}</div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-8">
            <div><h1 class="fs-2">Part</h1></div>

            <div class="row">
                <div class="col-4">
                  <div class="list-group" id="list-tab" role="tablist">
                    {% for part in section_data %}
                      <a class="list-group-item list-group-item-action {% if forloop.first %}active{% endif %}" id="list-{{ part.id }}-list" data-bs-toggle="list" href="#list-{{ part.id }}" role="tab" aria-controls="list-{{ part.id }}">{{ part.part_name }}</a>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-8">
                  <div class="tab-content" id="nav-tabContent">
                    <strong>Description</strong><br>
                    {% for part in section_data %}
                      <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="list-{{ part.id }}" role="tabpanel" aria-labelledby="list-{{ part.id }}-list">
                        <p>{{ part.description }}</p>
                        {% if part.upload %}
                          <p><a href="{{ part.upload.url }}" target="_blank">Voir le document</a></p>
                        {% endif %}
                        <strong>Tasks</strong><br>
                        <div>
                          <nav>
                            <div class="nav nav-tabs" id="nav-tab-{{ part.id }}" role="tablist">
                                <button class="nav-link active tab-button" id="preventivetask-{{ part.id }}" data-bs-toggle="tab" data-bs-target="#nav-preventivetask-{{ part.id }}" type="button" role="tab" aria-controls="nav-preventivetask-{{ part.id }}" aria-selected="true">Preventive</button>
                                <button class="nav-link tab-button" id="cleaningtask-{{ part.id }}" data-bs-toggle="tab" data-bs-target="#nav-cleaningtask-{{ part.id }}" type="button" role="tab" aria-controls="nav-cleaningtask-{{ part.id }}" aria-selected="false">Cleaning</button>
                                <button class="nav-link tab-button" id="lubrificationtask-{{ part.id }}" data-bs-toggle="tab" data-bs-target="#nav-lubrificationtask-{{ part.id }}" type="button" role="tab" aria-controls="nav-lubrificationtask-{{ part.id }}" aria-selected="false">Lubrification</button>
                            </div>
                          </nav>   
                          <div class="tab-content" id="nav-tabContent-{{ part.id }}">
                            <div class="tab-pane fade show active" id="nav-preventivetask-{{ part.id }}" role="tabpanel" aria-labelledby="preventivetask-{{ part.id }}" tabindex="0">
                                <div class="rounded" style="padding: 5px ; background-color: white;"> 
                                  {% for task in preventive_tasks %}
                                    {% if task.part.id == part.id %}
                                      <p>{{ task.operation }}</p>
                                    {% endif %}
                                  {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-cleaningtask-{{ part.id }}" role="tabpanel" aria-labelledby="cleaningtask-{{ part.id }}" tabindex="0">
                                <div class="rounded" style="padding: 5px ; background-color: white;"> 
                                  {% for task in cleaning_tasks %}
                                    {% if task.part.id == part.id %}
                                      <p>{{ task.operation }}</p>
                                    {% endif %}
                                  {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-lubrificationtask-{{ part.id }}" role="tabpanel" aria-labelledby="lubrificationtask-{{ part.id }}" tabindex="0">
                                <div class="rounded" style="padding: 5px ; background-color: white;"> 
                                  {% for task in lubrification_tasks %}
                                    {% if task.part.id == part.id %}
                                      <p>{{ task.operation }}</p>
                                    {% endif %}
                                  {% endfor %}
                                </div>
                            </div>
                          </div> 
                        </div>
                      </div>                    
                    {% endfor %}
                  </div>
                </div>
              </div>
              
              



          
        </div>
    </div>
</div>

{% endblock  %}
