{% extends "maintenance_plan/master.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        {% for line in Line_list %}
            <div class="col mb-3">
                <h1 class="display-6">{{ line.name }}</h1>
                <ul class="list-group">
                    {% for equipment in Equipement_list %}
                        {% if equipment.lineId_id == line.id %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="{% url 'maintenance_plan:detail' equipment.serial_number %}">
                                    {{ equipment.serial_number }}-{{ equipment.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock  %}
