{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{% endblock %}</title>
      <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, post-check=0, pre-check=0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
      
    </head>
    <body>
      <div id="root">
        <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand text-primary" href="{% url 'maintenance_plan:line' %}" style="margin-left:10px ;font-size: 15px; font-weight: bold; ">GMAO <br> Bracour</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              {% if request.user.is_authenticated %}
              <div class="collapse navbar-collapse" id="navbarColor04">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Dashboard
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'maintenance_plan:task' %}">Tasks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                  </li>
                </ul>
              </div>  
                  <div class="container nav-item p-2 text-end">
                    <div class="row justify-content-end">
                      <div class="col-4">
                        <p class="fs-3 ">Welcome {{ user.username }}!</p>
                      </div>
                      <div class="col-1">
                        <a class="nav-link" data-bs-toggle="offcanvas" href="#accountOffcanvas" role="button" aria-controls="accountOffcanvas">
                          <i class="bi bi-person-check-fill" style="font-size: 35px;" onmouseover="this.style.color='rgb(3, 105, 247)';" onmouseout="this.style.color='inherit';"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                {% else %}
                 <div class="container nav-item p-2 text-end">
                    <div class="row justify-content-end">
                      <div class="col-sm-1 ">
                       <a href="{% url 'account:signup' %}" class="btn btn-outline-secondary btn-sm"><i class="bi bi-person-add"></i> Sign up</a>
                      </div>
                      <div class="col-sm-1">
                        <a href="{% url 'account:login' %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-box-arrow-in-right"></i> Log in</a>
                      </div>
                   </div>
                  </div>      
                {% endif %}
              
            </div>
        </nav>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="accountOffcanvas" aria-labelledby="accountOffcanvasLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="accountOffcanvasLabel"><i class="bi bi-person-gear"></i> Account</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <!-- Contenu de votre offcanvas, par exemple les liens vers le profil et la déconnexion -->
            <div class="row row-cols-2">
              <div class="col">Username</div>
              <div class="col">: <strong>{{ request.user.username }}</strong></div>
              <div class="col">Badge Number</div>
              <div class="col">: <strong>{{ request.user.badge_number }}</strong></div>
              <div class="col">First Name</div>
              <div class="col">: <strong>{{ request.user.first_name }}</strong></div>
              <div class="col">Last Name</div>
              <div class="col">: <strong>{{ request.user.last_name }}</strong></div>
              <div class="col">Position</div>
              <div class="col">: <strong>{{ request.user.position }}</strong></div>
            </div>
            <a href="{% url 'account:edit_profile' %}" class="btn btn-primary btn-sm mt-3"><i class="bi bi-pen"></i> Edit Profile</a>
            <a href="{% url 'account:password_change' %}" class="btn btn-primary btn-sm mt-3"><i class="bi bi-pen"></i> Edit Password</a>
            <form class="d-flex" method="post" action="{% url 'account:logout' %}">
              {% csrf_token %}
              <button class="btn btn-outline-danger mt-3" type="submit"><i class="bi bi-box-arrow-left"></i> Logout</button>
            </form>
          </div>
        </div>
        
        <div class="px-6 py-6 ">
          {% block content %}
          {% endblock %}
        </div>
        <footer class="bg-light text-center">
          <div class="">
            <p class="fs-6 text-primary">Brasserie de La Couronne, Coca-Cola Bottling Company in Haiti </p>
          </div>
          
        </footer>
      </div>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>

        
    </body>
</html>
