{% extends "maintenance_plan/master.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 bg-light" style="width: 75%; padding: 50px">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active tab-button" id="preventivetask" data-bs-toggle="tab" data-bs-target="#nav-preventivetask" type="button" role="tab" aria-controls="nav-preventivetask" aria-selected="true">Preventive</button>
                    <button class="nav-link tab-button" id="cleaningtask" data-bs-toggle="tab" data-bs-target="#nav-cleaningtask" type="button" role="tab" aria-controls="nav-cleaningtask" aria-selected="false">Cleaning</button>
                    <button class="nav-link tab-button" id="lubrificationtask" data-bs-toggle="tab" data-bs-target="#nav-lubrificationtask" type="button" role="tab" aria-controls="nav-lubrificationtask" aria-selected="false">Lubrification</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-preventivetask" role="tabpanel" aria-labelledby="preventivetask" tabindex="0">
                    <div class="rounded" style="padding: 5px; background-color: white;"> 
                        <table class="table table-hover table-striped rounded-4" id="preventiveTable">
                            <thead>
                                <tr>
                                    <th scope="col">Operation</th>
                                    <th scope="col">Equipement</th>
                                    <th scope="col">Line</th>
                                                         
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks.preventive_tasks %}
                                <tr data-detail-url="{% url 'maintenance_plan:taskdetail' task_type='preventive' task_id=task.id %}">
                                    <td>{{ task.operation }}</td>
                                    <td>{{ task.part.equipement.serial_number }}</td>
                                    <td>{{ task.part.equipement.lineId }}</td></a>
                                 </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-cleaningtask" role="tabpanel" aria-labelledby="cleaningtask" tabindex="0">
                    <div class="rounded" style="padding: 5px ; background-color: white;"> 
                        <table class="table table-hover table-striped rounded-4" id="cleaningTable">
                            <thead>
                                <tr>
                                    <th scope="col">Operation</th>
                                    <th scope="col">Equipement</th>
                                    <th scope="col">Line</th>
                                                         
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks.cleaning_tasks %}
                                <tr data-detail-url="{% url 'maintenance_plan:taskdetail' task_type='cleaning' task_id=task.id %}">
                                    <td>{{ task.operation }}</td>
                                    <td>{{ task.part.equipement.serial_number }}</td>
                                    <td>{{ task.part.equipement.lineId }}</td>
                                 </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-lubrificationtask" role="tabpanel" aria-labelledby="lubrificationtask" tabindex="0">
                    <div class="rounded" style="padding: 5px ; background-color: white;"> 
                        <table class="table table-hover table-striped rounded-4" id="lubrificationTable">
                            <thead>
                                <tr>
                                    <th scope="col">Operation</th>
                                    <th scope="col">Equipement</th>
                                    <th scope="col">Line</th>
                                                         
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks.lubrification_tasks %}
                                <tr data-detail-url="{% url 'maintenance_plan:taskdetail' task_type='lubrification' task_id=task.id %}">
                                    <td>{{ task.operation }}</td>
                                    <td>{{ task.part.equipement.serial_number }}</td>
                                    <td>{{ task.part.equipement.lineId }}</td>
                                 </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
           
        <div class="col-md-3 rounded bg-light " style="width: 25%; padding: 50px">
            <div class="sticky-top">
                <h2>Filter</h2>
                <form method="get" class="form-inline" id="filterForm">
                    {{ form.as_p }}
                    <button type="reset" class="btn btn-secondary">Clear</button><br>
                </form>
                <div class="export-buttons mt-3">
                    <a href="{% url 'maintenance_plan:export_csv' %}?{{ filter_form.cleaned_data.urlencode }}" class="btn btn-success export-btn" data-export-type="csv">Export to CSV</a>
                    <a href="{% url 'maintenance_plan:export_pdf' %}?{{ filter_form.cleaned_data.urlencode }}" class="btn btn-danger export-btn" data-export-type="pdf">Export to PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="taskDetailModal" tabindex="-1" aria-labelledby="taskDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskDetailModalLabel">Task Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="taskDetailModalBody">
                <!-- Les détails de la tâche seront ajoutés ici via JavaScript -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const filterForm = document.getElementById('filterForm');
        const formInputs = filterForm.querySelectorAll('input, select');
        const clearButton = filterForm.querySelector('button[type="reset"]');
        const exportButtons = document.querySelectorAll('.export-buttons a');
        var maintenanceTables = document.querySelectorAll('table');
        const activeTab = localStorage.getItem('activeTab');
    
        formInputs.forEach(input => {
            input.addEventListener('change', function() {
                console.log('change');
                // Simuler la soumission du formulaire
                updateExportURL();
                filterForm.submit();
                event.preventDefault();
            });
        });

        maintenanceTables.forEach(function(tableElement) {
            // Ajoutez un gestionnaire d'événements de clic à chaque tableau
            tableElement.addEventListener('click', function(event) {
                const clickedRow = event.target.closest('tr');
                const detailUrl = clickedRow.getAttribute('data-detail-url');
                console.log('Detail URL:', detailUrl);
                if (detailUrl) {
                    // Affichez les détails dans un modal
                    fetch(detailUrl)
                        .then(response => response.text())
                        .then(data => {
                            // Créez un modal avec les détails récupérés
                            const modal = new bootstrap.Modal(document.getElementById('taskDetailModal'));
                            const modalBody = document.getElementById('taskDetailModalBody');
                            modalBody.innerHTML = data;
                            modal.show();
                        })
                        .catch(error => {
                            console.error('Error fetching task details:', error);
                        });
                }
            });
        })
    
        // Ajoutez un gestionnaire d'événements pour le bouton Clear
        clearButton.addEventListener('click', function() {
            formInputs.forEach(input => {
                if (input.type !== 'submit' && input.type !== 'reset') {
                    input.value = '';  // Réinitialiser la valeur du champ
                }
            });
            // Simuler la soumission du formulaire
            updateExportURL();
            filterForm.submit();
        });
    
        // Ajoutez un gestionnaire d'événements pour les boutons d'exportation
        exportButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                // Annulez l'événement de clic par défaut pour éviter une redirection immédiate
                event.preventDefault();
                // Obtenez l'URL de l'exportation avec les paramètres du formulaire et le type d'exportation
                const exportURL = getExportURL(button.getAttribute('data-export-type'));
                // Redirigez vers l'URL d'exportation
                window.location.href = exportURL;
            });
        });

        // Fonction pour mettre à jour l'URL d'exportation avec les paramètres du formulaire
        function updateExportURL() {
            exportButtons.forEach(button => {
                const exportURL = getExportURL(button.getAttribute('data-export-type'));
                button.setAttribute('href', exportURL);
            });
}

        // Fonction pour obtenir l'URL d'exportation avec les paramètres du formulaire et le type d'exportation
        function getExportURL(exportType) {
            const baseExportURL = exportType === 'pdf' ? "{% url 'maintenance_plan:export_pdf' %}" : "{% url 'maintenance_plan:export_csv' %}";
            const activeTab = document.querySelector('.tab-pane.active').id;
            const queryParams = new URLSearchParams();
            formInputs.forEach(input => {
                if (input.type === 'checkbox') {
                    // Si c'est une case à cocher, ajoutez toutes les valeurs cochées
                    document.querySelectorAll(`input[name="${input.name}"]:checked`).forEach(checkbox => {
                        queryParams.append(input.name, checkbox.value);
                    });
                } else {
                    // Sinon, ajoutez simplement la valeur
                    queryParams.append(input.name, input.value);
                }
            });
            // Ajoutez l'onglet actif aux paramètres de la requête
            queryParams.append('active_tab', activeTab);
            return baseExportURL + '?' + queryParams.toString();
        }

               // Si un onglet est stocké, activez-le
               if (activeTab) {
            const tabButton = document.querySelector(`.tab-button[data-bs-target="${activeTab}"]`);
            if (tabButton) {
                tabButton.click();
            }
        }

        // Ajoutez un gestionnaire d'événements pour stocker l'onglet actif lorsqu'il est changé
        const tabButtons = document.querySelectorAll('.tab-button');
        tabButtons.forEach(button => {
            button.addEventListener('click', function() {
                // Stockez l'ID de l'onglet actif dans les données locales du navigateur
                localStorage.setItem('activeTab', button.getAttribute('data-bs-target'));
            });
        });
    });
</script>
{% endblock %}

<!--
        maintenanceTables.forEach(function(tableElement) {
            // Ajoutez un gestionnaire d'événements de clic à chaque tableau
            tableElement.addEventListener('click', function(event) {
                const clickedRow = event.target.closest('tr');
                const detailUrl = clickedRow.getAttribute('data-detail-url');
                console.log('Detail URL:', detailUrl);
                if (detailUrl) {
                    window.location.href = detailUrl;
                }
            });
        });

-->
