<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, post-check=0, pre-check=0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        
      </head>

      <body>
        <div class="container">
            <h1 class="fs-5 text-primary text-center">{{ object.operation }}</h1>
            <div class="row">
                <div class="col-4">
                    <table class="table sticky-top">
                        <tbody>
                            <tr>
                                <td><strong>Partie</strong></td>
                                <td>{{ object.part }}</td>
                            </tr>
                            <tr>
                                <td><strong>Composant</strong></td>
                                <td>{{ object.component }}</td>
                            </tr>
                            <tr>
                                {% if object.get_model_name == 'PreventiveTask' %}
                                    <td><strong>Critère</strong></td>
                                {% elif object.get_model_name == 'CleaningTask' %}
                                    <td><strong>Auxiliaires</strong></td>
                                {% elif object.get_model_name == 'LubrificationTask' %}
                                    <td><strong>Lubrifiant</strong></td>
                                {% endif %}

                                {% if object.get_model_name == 'PreventiveTask' %}
                                    <td>{{ object.criteria }}</td>
                                {% elif object.get_model_name == 'CleaningTask' %}
                                    <td>{{ object.aids }}</td>
                                {% elif object.get_model_name == 'LubrificationTask' %}
                                    <td>{{ object.lubricant }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td><strong>Fréquence</strong></td>
                                <td>{{ object.get_frequency_display }}</td>
                            </tr>
                            <tr>
                                <td><strong>Durée</strong></td>
                                <td>{{ object.duration }}</td>
                            </tr>
                            <tr>
                                <td><strong>Mode</strong></td>
                                <td>{{ object.get_mode_display }}</td>
                            </tr>
                            <tr>
                                <td><strong>Niveau</strong></td>
                                <td>{{ object.level }}</td>
                            </tr>
                            <tr>
                                <td><strong>Outils</strong></td>
                                <td>{{ object.tools }}</td>
                            </tr>
                            <tr>
                                <td><strong>Intervenant</strong></td>
                                <td>
                                    {% for contributor in contributors %}
                                        {{ contributor.contributors_set.first.quantity }}{{ contributor.acronym }}
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-8">
                    <strong>Description</strong><br>
                    <p>{{ object.description|linebreaks|safe }}</p>
                    {% if object.image %}
                        <img src="{{ object.image.url }}" class="object-fit-none border rounded" alt="{{ object.part }} Image">
                    {% endif %}
                </div>
            </div>
        </div>

      </body>
</html>

