{% extends 'maintenance_plan/master.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container mx-auto my-auto">
    <div class="col-md-6 my-6 mx-auto p-5 bg-secondary bg-opacity-25 rounded-2">
        <h1 class="mb-6 h3">Change Password</h1>
    
        <form method="post" action="{% url 'account:password_change' %}" id="passwordChangeForm">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label" for="id_old_password">Old Password</label>
                {{ password_form.old_password }}
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="id_new_password1">New Password</label>
                {{ password_form.new_password1 }}
            </div>

            <div class="mb-3">
                <label class="form-label" for="id_new_password2">Confirm New Password</label>
                {{ password_form.new_password2 }}
            </div>
    
            {% if password_form.non_field_errors %}
                <div class="mb-3 p-3 bg-danger text-white rounded-xl">
                    {% for error in password_form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            
            <div class="row justify-content-md-center pt-5">
                <div class="col-2">
                    <button type="submit" class="btn btn-outline-danger">Change Password</button>
                </div>
            </div>
            
            <!-- Add this code inside your form tag in edit_password.html -->
            {% if messages %}
                <div class="mb-3 p-3 bg-danger text-white rounded-xl">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}