{% extends 'maintenance_plan/master.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<div class="container mx-auto my-auto">
    <div class="col-md-6 my-6 mx-auto p-5 bg-secondary bg-opacity-25 rounded-2">
        <h1 class="mb-6 h3 text-center">Edit Profile</h1>

        <form method="post" action="{% url 'account:edit_profile' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label"><i class="bi bi-file-person"></i> First Name</label>
                <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control">
            </div>
            
            <div class="mb-3">
                <label class="form-label"><i class="bi bi-file-person"></i> Last Name</label>
                <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label"><i class="bi bi-person-circle"></i> Username</label>
                <input type="text" name="username" value="{{ user.username }}" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label"><i class="bi bi-person-workspace"></i> Position</label>
                <input type="text" name="position" value="{{ user.position }}" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label"><i class="bi bi-envelope-at"></i> Email</label>
                <input type="email" name="email" value="{{ user.email }}" class="form-control">
            </div>


            <div class="row justify-content-md-center pt-5">
                <div class="col-4">            
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmPasswordModal">
                        <i class="bi bi-check2-circle"></i> Save Changes
                    </button>
                </div>
            </div>                    

            <!-- Modal pour la confirmation du mot de passe -->
            <div class="modal fade" id="confirmPasswordModal" tabindex="-1" aria-labelledby="confirmPasswordModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmPasswordModalLabel">Confirm Password</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label class="form-label">Password</label>
                            <input type="password" name="password" class="form-control">
                            
                            <!-- Affichez un message d'erreur spécifique dans le modal -->
                            {{ form.password.errors }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ... autres parties du formulaire ... -->

            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-3 bg-danger text-white rounded">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            
        </form>
    </div>
</div>

{% endblock %}
