{% extends 'maintenance_plan/master.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="container mx-auto my-auto">
    <div class="col-md-6 my-6 mx-auto p-5 bg-secondary bg-opacity-25 rounded-2">
        <h1 class="mb-6 h3 text-center">Log in</h1>
    
        <form method="post" action="{% url 'account:login' %}" id="loginForm">
            {% csrf_token %}
    
            <div class="mb-3">
                <label class="form-label" id="username"><i class="bi bi-person"></i> Username</label>
                {{ form.username }}
            </div>
    
            <div class="mb-3">
                <label class="form-label" id="password"><i class="bi bi-pass"></i> Password</label>
                {{ form.password }}
            </div>
    
            {% if form.non_field_errors %}
                <div class="mb-3 p-3 bg-danger text-white rounded-xl">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row justify-content-md-center pt-5">
                <div class="col-3">
                    <button type="submit" class="btn btn-outline-primary"><i class="bi bi-box-arrow-in-right"></i> Log in</button>
                </div>
            </div>
            <!-- Add this code inside your form tag in login.html -->
            {% if messages %}
            <div class="mb-3 p-3 bg-danger text-white rounded-xl">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}

        </form>
    </div>
</div>
{% endblock %}